$black-primary: #050D23;
$black-secondary: #77829E;
$black-ghost: #F2F5F9;

$brand-primary: #1551E5;
$brand-secondary: #6A92F4;
$brand-ghost: #F2F6FF;
$brand-hover: #5483F9;

$success-primary: #00C986;
$success-secondary: #42F5BA;
$success-ghost: #EDFFFA;

$warning-primary: #FFAA00;
$warning-secondary: #F9A600;
$warning-ghost: #FFF8EB;

$error-primary: #FF3D71;
$error-secondary: #FF608A;
$error-ghost: #FFF2F6;

$special-white: #fff;
$special-disabled-primary: #B2BACE;
$special-disabled-secondary: #E9ECF2;
$special-divider: #E1E5EB;
$special-background: #F4F4F4;

$general-secondary: #8F9BB3;

// Others
$soft-blue: #366CF0;