$extra-mobile-small: 320px;
$mobile-small: 420px;
$max-small-desktop: 1079px;
$small-desktop: 1080px;
$max-desktop: 1279px;
$desktop: 1280px;
$max-large-desktop: 1439px;
$large-desktop: 1440px;
$extra-large-desktop: 1600px;