@font-face {
    font-family: "Gotham";
    src: url("@/assets/fonts/GothamLight/Gotham-Light.eot");
    src: url("@/assets/fonts/GothamLight/Gotham-Light.eot?#iefix")format("embedded-opentype"),
    url("@/assets/fonts/GothamLight/Gotham-Light.woff") format("woff"),
    url("@/assets/fonts/GothamLight/Gotham-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Gotham";
    src: url("@/assets/fonts/GothamNormal/Gotham-Book.eot");
    src: url("@/assets/fonts/GothamNormal/Gotham-Book.eot?#iefix")format("embedded-opentype"),
    url("@/assets/fonts/GothamNormal/Gotham-Book.woff") format("woff"),
    url("@/assets/fonts/GothamNormal/Gotham-Book.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("@/assets/fonts/GothamMedium/Gotham-Medium.eot");
    src: url("@/assets/fonts/GothamMedium/Gotham-Medium.eot?#iefix")format("embedded-opentype"),
    url("@/assets/fonts/GothamMedium/Gotham-Medium.woff") format("woff"),
    url("@/assets/fonts/GothamMedium/Gotham-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gotham";
    src: url("@/assets/fonts/GothamBold/Gotham-Bold.eot");
    src: url("@/assets/fonts/GothamBold/Gotham-Bold.eot?#iefix")format("embedded-opentype"),
    url("@/assets/fonts/GothamBold/Gotham-Bold.woff") format("woff"),
    url("@/assets/fonts/GothamBold/Gotham-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gotham";
    src: url("@/assets/fonts/GothamBlack/Gotham-Black.eot");
    src: url("@/assets/fonts/GothamBlack/Gotham-Black.eot?#iefix")format("embedded-opentype"),
    url("@/assets/fonts/GothamBlack/Gotham-Black.woff") format("woff"),
    url("@/assets/fonts/GothamBlack/Gotham-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}